<!-- About -->
<section class="page-section bg-light" id="{{ site.data.sitetext[site.locale].organisation.section | default: "organisation" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].organisation.title | default: "Organisation" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h3 class="large text-muted">{{ site.data.sitetext[site.locale].organisation.body | markdownify }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- End About -->